
<!-- Core build with no theme, formatting, non-essential modules -->
 

<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" data-controller="richtext">
    <%= f.input :titulo %>
    <br><br>
    <%= f.input :descripcion %>
     
    <br><br>
    <%= f.input :imagen %>
    <br><br>
    <textarea id="rich-contenido">
      <%= @blog.contenido %>
    </textarea>
    <%= f.input :contenido, as: :hidden  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  "Registrar" %>
  </div>
<% end %>
