<%= stylesheet_link_tag 'blog.css' %>


<article class="article-container">
  <% @blogs.each do |blog| %>
  <article class="post" id="<%= blog.id %>">
    <a href="/blogs/<%= blog.id %>">
     
    <%= image_tag url_for(blog.imagen) if blog.imagen.attached? %>
    <%= image_tag("logo.webp") unless blog.imagen.attached? %>

    </a>
    
    <div class="post_body">
        <h2 class="post-title">
          <a href="blogs/<%= blog.id %>" ><%= blog.titulo %></a>

        </h2>
      <p><%= blog.descripcion %></p>
    </div>
  
  </article>
  <% end %>


</article>
<% if user_signed_in? %>
<div style="text-align:center">
  <%= link_to "Nueva Entrada", new_blog_path %>
</div>
<% end %>
