<%= stylesheet_link_tag 'article.css' %>
<div class="article" style="view-transition-name:full-embed">

  <h1 style="text-align:center"><%= @blog.titulo %></h1>
 
      <%= image_tag url_for(@blog.imagen), style: "width:50%" if @blog.imagen.attached? %>
      <%= image %>
      <%= @blog.contenido.html_safe %>

      <hr>
      Registrado el <%= @blog.created_at.strftime("%d/%m/%Y") %> por <b><%= @blog.user.email %></b>
      <% if user_signed_in? && current_user.id == @blog.user_id %>
       | <%= link_to "Modificar Entrada", edit_blog_path(@blog) %> 
      <% end %>
      | <%= link_to "Regresar", blogs_path %>

      <%# button_to "Eliminar Entrada", @blog, method: :delete %>
 
 </div>

<div>
 