<%= stylesheet_link_tag 'inicio' %>

<div class="index">
  <div class="main_index">
    <div class="wrapper-img">
      <%= image_tag("logo1-icon.svg",  class: "img-1") %>
    </div>
    <blockquote class="quote">
     <q>El mayor enemigo del conocimiento no es la ignorancia, sino la ilusión del conocimiento</q>
    <footer>- Stephen Hawking</footer>
    </blockquote>

    <a  href="#info" ><button class="btn-more">Saber mas 
    <%= image_tag("down-arrow.svg",  class: "btn-img") %>
    </button>
    </a>
    </div>
    <div id="info" class="info">
    
    <%= image_tag("circuito.svg", class: "img-2") %>
    
    <div class="info_text">
      <span>Acerca de</span>
      <h3>Que es ITCScience?</h3>
      <p>La Comunidad ITCScience es una comunidad de ciencia y tecnología, creada con la finalidad de difundir las Ciencias Computacionales e Informática en general.
      </p>
      </div>
    </div>
    <div class="groups">
  <div class="groups_info">
 <span>Comunidad</span>
    <h3>Nuestros <span>Grupos</span> </h3>
   <p>Tenemos diversos grupos con temáticas en especifico para colaborar,aportar,aplicar,aprender y debatir entre los miembros de la comunidad</p>
  </div>
  <div class="groups_container">
 <div class="group_what">
  <div class="circle"></div>
     <%= image_tag("cien.webp", loading: "lazy") %>
 
   <div>
    <h4>ciencias Computacionales</h4>
    <p>Este grupo se centra en las Ciencias Computacionales,donde se Realizan diversas aclaraciones y debates donde se comparte el conocimiento del area </p>
  <a href="https://chat.whatsapp.com/FTSALNW5qCwK2Yjlszi1Pq">ingresar al grupo
     <%= image_tag("enter-outline.svg", class: "img_wh") %>

  </a> 
   </div>
 </div>
 <div class="group_what">
  <div class="circle"></div>
  <%= image_tag("pog.webp", loading: "lazy") %>
  
  <div>
   <h4>Programadores</h4>
   <p>Este grupo se basa en tema mas general en el area informática,donde se ayudan a resolver problemas de código y se resulten dudas mas simples</p>
 <a href="https://chat.whatsapp.com/Gqcit7OCPiiIoZp93wjNjF">ingresar al grupo
      <%= image_tag("enter-outline.svg", class: "img_wh") %>
 </a> 
  </div>
</div>
<div class="group_what">
  <div class="circle"></div>
   <%= image_tag("recur.webp", loading: "lazy") %>
  <div>
   <h4>Recursos Informática</h4>
   <p>Grupo destinado a compartir recursos de informática,donde ademas se permite también recursos de matemáticas y electronica </p>
 <a href="https://chat.whatsapp.com/ER1SMqM6GmZKGBIWD7JUEs">ingresar al grupo
    <%= image_tag("enter-outline.svg", class: "img_wh") %>
  </a> 
 </div>
</div>
<div class="group_what">
  <div class="circle"></div>
   <%= image_tag("itcs.jpeg", loading: "lazy") %>
  <div>
    <h4>ITCScience</h4>
    <p>grupo de avisos y difusión de la comunidad</p>
 <a href="https://chat.whatsapp.com/EtQk9oMhecp1aFt3akPaOA">Ingresar al grupo  
   <%= image_tag("enter-outline.svg", class: "img_wh") %>
 </a>
  </div>
</div>
  </div>
    </div>
</div>