<div id="<%= dom_id contacto %>">
  <p>
    <strong>Nombre:</strong>
    <%= contacto.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contacto.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= contacto.telefono %>
  </p>

  <p>
    <strong>Mensaje:</strong>
    <%= contacto.mensaje %>
  </p>

</div>
