
<%= stylesheet_link_tag 'datatable' %>

<div class="container-table">
  <h2>Solicitudes de Contacto <small>Mensajes enviados</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Fecha</div>
      <div class="col col-2">Nombre</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Teléfono</div>
    </li>
     <% @contactos.order("id desc").each do |contacto| %>
    <li class="table-row">
      <div class="col col-1" data-label="Fecha"><%= contacto.created_at.strftime("%d/%m/%Y") %></div>
      <div class="col col-2" data-label="Nombre"><%= contacto.nombre %></div>
      <div class="col col-3" data-label="Email"><%= contacto.email %></div>
      <div class="col col-4" data-label="Telefono"><%= contacto.telefono %></div>
     
    </li>

     <li class="table-row" style="background-color: #bfb9b9; " >
          <div class="col col-4" style="color:black" data-label="Mensaje"><%= contacto.mensaje %></div>
     </li>
   
    <% end %>
     
  </ul>

  
  <%= will_paginate @contactos, next_label: "Siguiente", previous_label: "Anterior" %>
</div>

