<%= stylesheet_link_tag 'login' %>
<section class="login">
<h2>Identificate</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <span class="subtitle">Email:</span>
    <br>
    <br>
    <%= f.input :email,
                label: false,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <br>
    <span class="subtitle">Contraseña:</span>
    <br>
    <br>
    <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password" } %>
    <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Ingresar" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>
</section>